input[type=text],
input[type=password],
button {
    text-align: left;
    cursor: pointer;
    border-radius: 3px;
}

input[type=text]::placeholder,
input[type=password]::placeholder {
    text-align: left;
}

button {
    border: none;
    padding: 8px;
    background-color: rgba(240, 248, 255, 0.16);
    text-align: center;
}


.i-base {
    border: 0;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.02);
}

.container-index {
    width: 100%;
    min-height: 100%;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-index {
    width: 30%;
    /*height: 40%;*/
    height: 60%;
    /*border: 1px solid rgba(250, 250, 250, 0.06);*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-index-header {
    text-align: center;
    margin-bottom: 17%;
}

.content-index-header img {
    width: 40%;
    height: 100%;
}

.index-login {
    width: 50%;
}

.index-login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-login form input {
    width: 100%;
    margin-bottom: 8px;
}

.problem {
    width: 100%;
    font-size: 10px;
    text-align: left;
    font-style: italic;
}

.index-login form button {
    width: 80%;
    margin-top: 25px;


}

.login-element {
    display: flex;
    width: 100%;
}

.login-element span {
    align-self: center;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.02);
    margin-bottom: 8px;
}

.login-element span a {
    font-size: 10px;
}

.divisor {
    width: 30%;
    margin: 40px 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.12);
}

.index-section {
    display: flex;
    /*background-color: red;*/
    width: 100%;
    justify-content: space-around;
}

.index-soli {
    width: 50%;
}

.index-soli form {
    display: flex;
    flex-direction: column;
}

.index-soli form input {
    margin-bottom: 15px;
    text-align: center;
}

.index-soli form input::placeholder {
    text-align: center;
}

.index-links {
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.index-links a {
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    background-color: rgba(240, 248, 255, 0.16);
    ;
    width: 100%;
    padding: 10px 0;
}

.solic-index {
    display: block;
}

.footer-container {
    justify-content: center;
}

.footer-content {
    width: 100%;
    margin-left: 0px;
}

.footer-content nav {
    justify-content: space-evenly;
}

.solic-index {
    margin-top: 20px;
}

.pie {
    text-align: center;
}

.arrow {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.arrow-up {
    position: absolute;
    bottom: -50px;
    left: 15px;
}

.arrow i,
.arrow-up {
    font-size: 40px;
}

#arrow-down.active {
    display: block;

}

#arrow-down {
    display: none;
}

#arrow-up {
    display: none;
}

#arrow-up.active {
    display: block;
}



@media(max-width:768px) {

    .content-index {
        margin-top: 40px;
        min-width: 100%;

    }

    .index-soli {
        margin-bottom: 20px;
    }

    .elements-enlaces a, .elements-social a {
        pointer-events: none;
    }
    .elements-enlaces a:first-child, .elements-enlaces a:nth-child(2){
        pointer-events: all;
    }

    #footer-index {
        display: none;
    }

    #footer-index.active {
        display: block;
    }
}
@media(min-height:411px) and (orientation: landscape) {
    .footer-content{
        height: 100%;
    }
    .footer-content nav{
        flex-direction: column;
        align-items: center;
        height: 100%;

    }
    .footer-content-title{
        text-align: center;
    }
    .elements-enlaces, .elements-social, .elements-lorem{
        width: 100%;
    }
    .elements-lorem{
        text-align: center;
    }
}
