tr td:nth-child(2), tr td:nth-child(4){
    color: #262626;
}
.footer-container {
    margin-top: 23.52vh;
}

.form-aux{
    display: none;
}
.form-aux.active {
    display: block;
    position: fixed;
    top: 0;
    left: 15%;
    background-color: #262626;
    padding: 15px 50px;
    border-top-right-radius: 5px;
    z-index: 1;
    height: 100vh;
    width: 50vh;
    border-left: .2px solid rgb(255, 255, 255);
    padding-left: 50px;
}

.form-aux input{
    background-color: rgba(240, 248, 255, 0.25);
    border: none;
    padding: 15px;
    border-radius: 4px;
    color: #FFF;
}

.form-aux input::placeholder{
    color: #FFF;
}
.form-aux form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    border-radius: 3px;
    height: 100%;
}
.aux-body{
    display: flex;
    flex-direction: column;
}
.aux-element{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3px;
}
.aux-element label{
        font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
}