.content-body {
    margin: 0;
    background-color: #FFF;
}

.content-body iframe {
    width: 100%;
    height: 100vh;
    top: 5px;
}

.tapar {
    width: 100%;
    background-color: #fff;
    height: 20px;
    position: absolute;
}

select {
    padding: 15px;
    border-radius: 2px;
    background-color: #262626;
    color: #FFF;
    border: 0;
}

.find {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /*background-color: red;*/
    padding: 15px;
}
@media(max-width:720px) {
    .find{
        padding: 15px 0;
    }
    .content-body iframe {
        width: 100%;
    }
    .container-body{
        width: 100%;
        height: 670px;
    }
    /*footer{
        display: none;
    }*/
}

@media(min-height:411px) and (orientation: landscape) {
    footer{
        display: none;
    }
    .container-body, .container-body.active {
        left: 0;
        width: 100%;
        top: 12%;
    }
    
    #nav-header{
        height: 15%;
        left: 0;
        width: 100%;

    }

    #nav-header.active {
        left: 9%;
        width: 91%;
    }

    #slide-menu {
        width: 0;
    

    }

    #slide-menu.active {
        display: block;
        width: 9%;
    }

    #slide-menu ul li {
       
        display: none;
        transition: all 500ms linear;
        
    }

    #slide-menu.active ul li {
        left: 0;
        display: block;
        margin-top: 5px;
        font-size: 15px;
    }
    #slide-menu.active .sidebar-elements i, #slide-menu.active #logo-university {
        font-size: 19px;
    }
    
    
}

